.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}

.input {
  flex: 1;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 15px;
}

.button {
  height: 100%;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  transition: 0.3s;
}

.button:hover {
  background-color: #c9c9c9;
}