.navbar {
    height: 64px;
    background-color: #7a8fc9;
    display: flex;
    align-items: center;
    padding: 0 32px;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
}

.adminMenu {
    display: flex;
    gap: 32px;
}

.adminItem {
    background: none;
    border: none;
    color: #eaf0ff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 4px;
    position: relative;
}

.adminItem:hover {
    color: #ffffff;
}

.adminItem.active {
    color: #ffffff;
}

.adminItem.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
}
